<table>
  <tr>
    <th>id</th>
    <th>tanbo_id</th>
    <th>shitsudo</th>
    <th>oto</th>
    <th>ondo</th>
    <th>camera</th>
    <th>light</th>
    <th>loged_at</th>
  </tr>
  <% @logs.each do |log| %>
  <tr>
    <td><%= log.id %></td>
    <td><%= log.tanbo_id %></td>
    <td><%= log.shitsudo %></td>
    <td><%= log.oto %></td>
    <td><%= log.ondo %></td>
    <td><%= log.camera %></td>
    <td><%= log.light %></td>
    <td><%= log.loged_at %></td>
  </td>
  <% end %>
</table>