<div class="tile is-ancestor">
  <div class="tile">
    <div class="tile is-parent is-vertical">
      <article class="tile is-child notification is-info">
        <p class="title">センサ</p>
        <table class="table is-fullwidth">
          <tr><th>湿度センサ</th><td><p id="shitsudo"><%= @log.shitsudo %></p></td></tr>
          <tr><th>音センサ</th><td><p id="oto"><%= @log.oto %></p></td></tr>
          <tr><th>温度センサ</th><td><p id="ondo"><%= @log.ondo  %></p></td></tr>
          <tr><th>光センサ</th><td><p id="light"><%= @log.light  %></p></td></tr>
          <tr><th>取得時間</th><td><p id="created_at"><%= @log.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></p></td></tr>
        </table>
      </article>
      <article class="tile is-child notification is-success">
        <p class="title">設定変更</p>
        <table class="table">
          <% @command_attributes.each do |command_attribtue| %>
            <tr>
              <%= form_for @command do |f| %>
                <% status = @command.attributes[command_attribtue] %>
                <%= f.hidden_field command_attribtue, :value => !status %>
                <td><%= @japanese_commands[command_attribtue.to_sym] %></td>
                <td><%= f.submit 'ボタン', class: "button is-pulled-right #{'is-primary' if status}"%></td>
              <% end %>
            </td>
          <% end %>
        </table>
      </article>
    </div>
  </div>
</div>
